.benefits-section {
  color: var(--color-white);
  padding: 40px;
  padding-bottom: 60px;
  background-color: rgba(51, 51, 51, 0.85);

  @media (min-width: $width-tablet) {
    background-color: var(--grey-200);
    background-repeat: no-repeat;
    background-position: top center;
    background-image: image-set(
      url("../img/benefits/benefits-bg.webp") 1x,
      url("../img/benefits/benefits-bg.png") 1x
    );
    background-size: 1920px 100%;
    padding-top: 60px;
    padding-bottom: 120px;
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 150px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 90px;
    padding-bottom: 190px;
  }
}

.benefits-section__title {
  margin-bottom: rem(30px);

  @media (min-width: $width-tablet) {
    margin-bottom: rem(60px);
  }
}

.benefits-feat-list {
  text-align: left;
  justify-content: center;
  display: grid;
  grid-template-columns: 265px;
  gap: rem(24px);

  @media (min-width: $width-mobile-h) {
    grid-template-columns: repeat(2, 265px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $width-desktop) {
    gap: rem(35px);
  }
}

.benefits-feat-list__item {
  flex: 0 0 265px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  &::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.benefits-feat-list__item--seo {
  &::before {
    background-image: image-set(
      url("../img/benefits/feat-1.webp") 1x,
      url("../img/benefits/feat-1.png") 1x
    );
  }
}

.benefits-feat-list__item--brand {
  &::before {
    background-image: image-set(
      url("../img/benefits/feat-2.webp") 1x,
      url("../img/benefits/feat-2.png") 1x
    );
  }
}

.benefits-feat-list__item--leads {
  &::before {
    background-image: image-set(
      url("../img/benefits/feat-3.webp") 1x,
      url("../img/benefits/feat-3.png") 1x
    );
  }
}


.benefits-feat-list__item--authority {
  &::before {
    background-image: image-set(
      url("../img/benefits/feat-4.webp") 1x,
      url("../img/benefits/feat-4.png") 1x
    );
  }
}

.benefits-feat-list__item-title {
  text-transform: uppercase;
  font-size: rem(20px);
  line-height: 1.2;

  @media (min-width: $width-tablet-h) {
    font-size: rem(24px);
  }
}

.benefits-feat-list__item-text {
  font-weight: 500;
  font-size: rem(16px);
  line-height: 1.13;

  @media (min-width: $width-mobile-h) {
    font-size: rem(14px);
  }

  @media (min-width: $width-tablet) {
    font-size: rem(16px);
  }
}
