.flags-section {
  color: var(--color-white);
  padding-block: rem(20px);
  background-color: var(--grey-200);
  background-image: radial-gradient(
    88.65% 1908.57% at 7.08% 82.42%,
    #f88430 0%,
    #ff5a09 58.52%,
    #d6581a 100%
  );

  @media (min-width: $width-tablet) {
    padding-block: rem(24px);
  }
}

.flags-section__title {
  margin-bottom: rem(24px);

  @media (min-width: $width-tablet) {
    margin-bottom: rem(48px);
  }
}

.country-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: start;
  gap: rem(24px);

  @media (min-width: 500px) {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: rem(40px);
  }

  @media (min-width: 1024px) {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  @media (min-width: $width-tablet-h) {
    gap: 1.5rem;
  }
}

.country-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.country-list__item-img {
  margin-bottom: rem(16px);
  width: 44px;
  height: 44px;

  @media (min-width: $width-mobile-h) {
    width: 60px;
    height: 60px;
  }

  @media (min-width: $width-tablet) {
    width: 80px;
    height: 80px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: rem(24px);
    width: 120px;
    height: 120px;
  }
}

.country-list__item-lang {
  font-size: rem(20px);
  margin-bottom: rem(4px);

  @media (min-width: $width-tablet) {
    font-size: rem(24px);
  }
}

.country-list__item-stat {
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $width-tablet) {
    font-size: rem(18px);
  }
}
