mixin faqSection()
  section.faq-section.section(id="FAQ")
    .container
      h2.faq-section__title Frequently Asked Questions
      p.faq-section__text Sit voluptatem accusantium doloremque laudantium
      .faq-section__faq-list.faq-list
        +faq()
        +faq()
        +faq()
        +faq()
        +faq()
