mixin footer()
  footer.site-footer.footer
    .container.footer__top-container.accordion
      .footer__column
        h3.footer__title Category 01
        ul.footer__footer-nav.footer-nav
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 01
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 02
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 03
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 04
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 05
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 06
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 07
      .footer__column
        h3.footer__title Category 01
        ul.footer__footer-nav.footer-nav
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 01
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 02
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 03
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 04
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 05
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 06
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 07
      .footer__column
        h3.footer__title Category 01
        ul.footer__footer-nav.footer-nav
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 01
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 02
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 03
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 04
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 05
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 06
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 07
      .footer__column
        h3.footer__title Category 01
        ul.footer__footer-nav.footer-nav
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 01
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 02
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 03
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 04
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 05
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 06
          li.footer-nav__item
            a.footer-nav__link(href='#') Option 07
    // footer copy and social
    .footer__bottom
      .footer__bottom-container.container
        p.footer__copy © 2022 adertoriale Pty Ltd. Trademarks and brands are the property of their respective owners.
        .footer__socials-list
          a.footer__socials-link(href='#' target='_blank' aria-label='link to facebook')
            +img('icons', 'fb', 'svg', 10, 20, 'icon fb')
          a.footer__socials-link(href='#' target='_blank' aria-label='link to linked')
            +img('icons', 'youtube', 'svg', 27, 18, 'icon fb')
          a.footer__socials-link(href='#' target='_blank' aria-label='link to instagram')
            +img('icons', 'link', 'svg', 19, 19, 'icon fb')
          a.footer__socials-link(href='#' target='_blank' aria-label='link to pinterest')
            +img('icons', 'tw', 'svg', 22, 17, 'icon fb')
