.logo__word {
  font-weight: 400;
  font-size: rem(30px);
  line-height: 1;
  margin-right: rem(8px);
}

.logo__nums {
  font-size: rem(30px);
  font-weight: 700;
  background: var(--logo-nums-bg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
