mixin faq()
  .f-faq(class!=attributes.class)
    details.f-faq__item
      summary
        span Nullam leo nibh, imperdiet ut ipsum ut, euismod dapibus erat. Ut laoreet?
      .f-faq__item-content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur magni alias aspernatur recusandae voluptate vitae!

